.container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab-add {
    margin-top: -47px;
}

app-alert {
    width: 100%;
}

app-contact-list {
    width: 100%;
}
