mat-toolbar {
    .heading-row {
        display: flex;
        justify-content: space-between;
    }

    .avatar-row {
        display: flex;
        justify-content: center;
    }
}

.contact-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 350px;
}
