<mat-toolbar color="primary">
    <mat-toolbar-row class="heading-row">
        <h3 class="heading">{{ data.title }}</h3>
        <button mat-icon-button mat-dialog-close matTooltip="close">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="avatar-row">
        <ngx-avatar
            [name]="contactForm.value.name"
            [gravatarId]="contactForm.value.email"
            [initialsSize]="2"
        ></ngx-avatar>
    </mat-toolbar-row>
</mat-toolbar>
<form #form [formGroup]="contactForm" (ngSubmit)="contactForm.valid && save()">
    <div class="contact-form">
        <!--name-->
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
                matInput
                class="form-control"
                placeholder="e.g: Mark"
                minlength="4"
                formControlName="name"
                required
            />
            <mat-icon matSuffix color="accent">person</mat-icon>
            <mat-error *ngIf="contactFormControl.name.errors?.required">
                Name is required.
            </mat-error>
            <mat-error *ngIf="contactFormControl.name.errors?.minlength">
                Name needs to have at least 4 chars.
            </mat-error>
        </mat-form-field>

        <!--email-->
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
                matInput
                type="email"
                placeholder="e.g: user@domain.com"
                formControlName="email"
                required
            />
            <mat-icon matSuffix color="accent">email</mat-icon>
            <mat-error *ngIf="contactFormControl.email.errors?.required">
                E-mail is required
            </mat-error>
            <mat-error *ngIf="contactFormControl.email.errors?.email">
                Please enter a valid e-mail address
            </mat-error>
        </mat-form-field>

        <!--phone number-->
        <mat-form-field appearance="outline">
            <input
                matInput
                type="number"
                placeholder="e.g: 06412345678"
                formControlName="phone"
                required
            />
            <mat-icon matSuffix color="accent">phone</mat-icon>
            <mat-error *ngIf="contactFormControl.phone.errors?.required">
                Phone number is required
            </mat-error>
            <mat-error *ngIf="contactFormControl.phone.errors?.pattern">
                Please enter a valid phone number
            </mat-error>
        </mat-form-field>

        <!--save-->
        <button
            mat-raised-button
            class="save-button"
            type="submit"
            color="accent"
            [disabled]="contactForm.invalid || !isContactFormChanged"
        >
            Save
        </button>
    </div>
</form>
