<mat-card>
    <mat-card-content>
        <h2>{{ isLoginMode ? 'Login' : 'Sign up' }}</h2>
        <app-alert
            [message]="error"
            [type]="alertType"
            (close)="onHandleError()"
            *ngIf="error"
        ></app-alert>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form
            #authForm="ngForm"
            (ngSubmit)="onSubmit(authForm)"
            *ngIf="!isLoading"
        >
            <mat-form-field class="full-width-input">
                <input
                    matInput
                    placeholder="Email"
                    type="email"
                    ngModel
                    name="email"
                    required
                    email
                />
                <mat-error> Please provide a valid email address </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input
                    matInput
                    placeholder="Password"
                    type="password"
                    ngModel
                    name="password"
                    required
                    minlength="6"
                />
                <mat-error> Please provide a valid password </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">
                {{ isLoginMode ? 'Login' : 'Sign Up' }}
            </button>
        </form>
        <div class="status" *ngIf="!isLoading">
            <div class="status-text" *ngIf="isLoginMode">
                Don't have an account?
                <span class="status-action" (click)="onSwitchMode()"
                    >Sign up</span
                >
            </div>
            <div class="status-text" *ngIf="!isLoginMode">
                Already have an account?
                <span class="status-action" (click)="onSwitchMode()"
                    >Login</span
                >
            </div>
        </div>
    </mat-card-content>
</mat-card>
